@font-face {
    font-family: 'icons';
    src:    url('./icomoon.eot') format('eot'),
            url('./icomoon.woff') format('woff'),
            url('./icomoon.ttf')  format('truetype'),
            url('./icomoon.svg#svgFontName') format('svg');
}

.icon {
    &::before {
        display: block;
        font-family: 'icons';
        font-size: 1.5em;
    }

    &.icon-car_add:before {
        content: "\e900";
    }
    &.icon-car:before {
        content: "\e901";
    }
    &.icon-clock2:before {
        content: "\e94f";
    }
    &.icon-user:before {
        content: "\e971";
    }
    &.icon-user-plus:before {
        content: "\e973";
    }
}