:root {
    --color-primary: #5D88FA;
    --color-background: #EEEEEE;
    --color-border: #DDDDDD;
    --color-border-semitransparent: rgba(221, 221, 221, 0.25);
    --color-flash-success: #00C600;
    --color-flash-success-background: rgba(152, 255, 138, 0.75);
    --color-flash-error: red;
    --color-flash-error-background: rgba(255, 139, 139, 0.75);
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-error: #D40000;
    --color-special1:#b721ff;
    --color-special2:#21d4fd;
    --color-special3:#f3e7e9;
    --color-special4:#e3eeff;
    --color-special5:#aaa;
    --color-special6:#4d4d4d;
    --color-special7:#999999;
    --color-special8: #F5F5F5;
}