:root {
    --color-primary: #5D88FA;
    --color-background: #EEEEEE;
    --color-border: #DDDDDD;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-error: #D40000;
    --color-special1:#b721ff;
    --color-special2:#21d4fd;
    --color-special3:#f3e7e9;
    --color-special4:#e3eeff;
    --color-special5:#aaa;
    --color-special6:#4d4d4d;
    --color-special7:#999999;
    --color-special8: #F5F5F5;
}