.przycisk1{
    padding: 15px 50px;
    border-style: none;
    margin-top: 50px;
    background-color: dodgerBlue;
    border-radius: 20px;
    box-shadow: 0 0 0 6px white, 0 0 0 12px dodgerBlue;
    font-size: 40px;
    font-family: Trebuchet MS;
    text-transform: uppercase;
    transition: 1s;
    cursor: pointer;
  }

  .przycisk1{
    box-shadow: 0 0 0 10px white, 0 0 0 18px dodgerBlue;
    border-radius: 50px;
  }