.navbar {
    width: 100%;

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;

        padding: 1rem 2rem;
        width: 100%;

        list-style: none;
    }

    .menuItem {

    }

    .menuLink {
        display: block;
        padding: 1rem 2rem;
        border-radius: var(--borderRadiusStandard);

        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;

        color: var(--color-primary);
        background: var(--color-white);

        transition: color var(--transitionStandard), background var(--transitionStandard);

        &:hover {
            color: var(--color-white);
            background: var(--color-primary);
        }
    }
}