body {
    font-size: 100%;
    color:#5D88FA;
    text-align:center;
    text-decoration: none;
  }
  
  .header1 {
    font-size: 2.5em;
    font-weight:900;
  }
  
  .header2 {
    font-size: 1.875em;
    font-weight:900;
  }

  .header3 {
    font-size: 1.2em;
    font-weight:900;
  }
  
  .paragraf1 {
    font-size: 0.875em;
    font-weight:800;
  }

  ol {
    font-size: 1em  
  }

  .ul1 {
    font-size: 1em  
  }

  li {
    font-size: 1em  
  }