form.adminForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div.adminForm {
        display: flex;
        flex-direction: column;
        max-width: 40rem;
        width: 100%;

        & > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            label {
                margin-bottom: 0.25rem;
            }

            ul {
                list-style: none;
                color: var(--color-flash-error);
            }

            input[type="text"]:not([hidden]),
            input[type="password"]:not([hidden]),
            input[type="email"]:not([hidden]),
            textarea {
                margin: 0;
                width: 100%;
                max-width: 100%;
                min-width: 100%;
                box-shadow: none;
                border-radius: var(--borderRadiusStandard);
                border: var(--borderStandard) var(--color-primary);
                height: 3rem;
                outline: initial;
                padding: 0.5rem;

                &:focus-visible {
                    outline: 1px auto;
                }
            }

            textarea {
                height: auto;
                min-height: 10rem;
                font-family: 'Open Sans', sans-serif;
            }

            .stylized_select {
                width: 100%;
                .stylized_select_element {
                    width: 100%;
                }
            }
        }
    }

    .vich-image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & > a {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            & > img {
                margin-top: 1rem;
                max-height: 15rem;
                justify-self: center;
            }
        }

        & > div {
            display: flex;
            flex-direction: row;
            align-items: center;

            label {
                margin-right: 1rem;
                cursor: pointer;
            }
            input[type="checkbox"] {
                height: 1rem;
                width: 1rem;
                cursor: pointer;
            }
        }
    }
}