.stylized_select {
    position: relative;
    cursor: pointer;

    .stylized_select_element {
        position: relative;
        z-index: 6;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        height: 3rem;
        min-width: 8rem;
        padding: 0 1rem;

        border: var(--borderStandard) var(--color-primary);
        border-radius: var(--borderRadiusStandard);

        background: var(--color-white);
        color: var(--color-primary);

        font-weight: 600;
        font-size: 1rem;
        text-align: left;

        cursor: pointer;

        &::after {
            display: block;
            content: "v";
            transition: transform var(--transitionStandard);
        }

        &--active {
            z-index: 8;
            &::after {
                transform: rotateZ(-180deg);
            }

            & ~ .stylized_select_optionlist {
                opacity: 1;
                pointer-events: auto;
                border: var(--borderStandard) var(--color-primary);
                border-radius: var(--borderRadiusStandard);
                left: 0;
                right: 0;
                background: var(--color-white);
                z-index: 7;
            }
        }
    }

    .stylized_select_optionlist {

        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--transitionStandard);
    }

    &--top {
        .stylized_select_optionlist {
            padding-bottom: .5rem;
            margin-bottom: -.6rem;
            bottom: 100%;
        }
    }

    &--bottom {
        .stylized_select_optionlist {
            padding-top: .5rem;
            margin-top: -.6rem;
        }
    }

    .stylized_select__option {
        text-align: left;
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1rem;
        transition: color var(--transitionStandard), background-color var(--transitionStandard);
        border: none;
        width: 100%;
        background: var(--color-white);
        color: var(--color-primary);
        cursor: pointer;

        &:hover,
        &:focus-within,
        &:focus {
            background: var(--color-primary);
            color: var(--color-white);
        }
    }
}