.stylized_date {
    display: flex;
    flex-direction: row;
    border: var(--borderStandard) var(--color-primary);
    border-radius: var(--borderRadiusStandard);
    position: absolute;

    background: var(--color-white);

    transition: opacity var(--transitionStandard);

    @media (max-width: 1500px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    @media (max-width: 800px) {
        flex-direction: column;
        width: 25rem;
        max-width: 90%;

    }

    &:not(.active) {
        opacity: 0;
        pointer-events: none;
    }

    &__wrapper {
        position: relative;

        @media (max-width: 1500px) {
            position: static;
        }
    }

    &__formatTimeWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        min-width: 20rem;
        border-right: var(--borderStandard) var(--color-primary);

        @media (max-width: 800px) {
            border-bottom: var(--borderStandard) var(--color-primary);
            border-right: none;
            min-width: unset;
        }
    }

    &__formattedDate {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        background: var(--color-primary);
        color: var(--color-white);

        @media (max-width: 800px) {
            height: 3rem;
        }
    }

    &__timeWrapper {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__button {
        background: transparent;
        font-size: 2rem;
        padding: .5rem;

        border: none;
        border-top: var(--borderStandard) var(--color-primary);

        transition: background var(--transitionStandard);
        cursor: pointer;
        text-shadow: 0 0 .5rem var(--color-white);

        &:hover {
            background: var(--color-primary);
        }

        &:first-child {
            border-right: var(--borderStandard) var(--color-primary);
            border-top-right-radius: var(--borderRadiusStandard);
        }

        &:last-child {
            border-left: var(--borderStandard) var(--color-primary);
            border-top-left-radius: var(--borderRadiusStandard);
        }
    }

    &__dateWrapper {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    &__yearMonthInput {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;

        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
            gap: 0;
        }
    }

    &__weekLabels {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: .5rem;
        padding: 1rem 0;
    }

    &__days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: .5rem;

        @media (max-width: 800px) {
            gap: .2rem;
        }
    }

    &__day {
        aspect-ratio: 1 / 1;
        border: var(--borderStandard) var(--color-primary);
        border-radius: 50%;
        background: transparent;
        cursor: pointer;

        transition: color var(--transitionStandard), background var(--transitionStandard);

        &:not(&--notThisMonth):hover {
            background: var(--color-primary);
            color: var(--color-white);
        }

        &--notThisMonth {
            border: none;
        }

        &--current {
            background: var(--color-primary);
            color: var(--color-white);
        }
    }
}