<!DOCTYPE html>
<html lang="pl-PL">
    {{ include('head.html.twig') }}
    <body>
    <header>
        {% block menu %}
                {{ render(controller('App\\Controller\\MenuController:menu')) }}
        {% endblock %}
    </header>
    <main>
        {% block main %}
        <button class = "przycisk1">przycisk here</button>
            <div>
                {{ t('home.welcome')|trans }}
            </div>
        {% endblock %}
    </main>
    </body>
</html>
