<!DOCTYPE html>
<html lang="pl-PL">
    {{ include('head.html.twig') }}
    <body>
    <header>
        {% block menu %}
                {{ render(controller('App\\Controller\\MenuController:menu')) }}
        {% endblock %}
    </header>
    <main>
        {% block main %}
        <button class = "przycisk1">przycisk here</button>
        <h1 class = "header1">H1 here</h1>
        <h2 class = "header2">H2 here</h2>
        <h3 class = "header3">H3 here</h3>
        <p class = "paragraf1">paragrafik</p>
        <ul class ="ul1">
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ul>   
            <div>
                {{ t('home.welcome')|trans }}
            </div>
        {% endblock %}
    </main>
    </body>
</html>
