<!DOCTYPE html>
<html lang="pl-PL">
    {{ include('head.html.twig') }}
    <body>
        {% block body %}
            <div>
                {{ t('home.welcome')|trans }}
            </div>
        {% endblock %}
    </body>
</html>
