<nav class="navbar">
    <button type="button" class="menuHamburgerButton HamburgerHandler" data-autohide="true"><span class="menuHamburgerButtonInside"></span></button>
    <ul class="menu">
        {% for menu_item in menu %}
            <li class="menuItem">
                <a class="button button--{{ menu_item.type }}" href="{{ path(menu_item.location) }}" title="{{ menu_item.title }}">
                    {{ menu_item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>